body{
  background-color: #f8f8f8;
}

/*Form*/

#form-container{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
  margin: 25px auto;
  padding: 25px;
}

#form-container h2{
  font-weight: 700;
  margin-bottom: 30px;
}

#form-container a{
  color: #222;
  transition: .5s;
}

#form-container a:hover{
  color: #6c63FF;
}

#form-container form{
  padding-bottom: 0px;
}

#form-container .form-control{
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

#form-container .form-control:focus{
  box-shadow: none;
}

#form-container .form-floating label{
  color: #CCC;
}

#form-container .form-floating > .form-control:focus~label{
 color: #222;
}

#form-container input[type="submit"],
#form-container input[type="checkbox"]:checked{
  background-color: #6c63ff;
  border-color: #6C63FF;
}



.btn.btn-primary{
  width: 100%;
  margin-top: 30px;
}

/*IMAGE*/

.row.align-items-center{
  align-content: center;
  padding: 50px 20px;
  height: 100%;
}

#link-container{
  text-align: center;
  padding-top: 50px;
}

#image{
  padding-top: 50px;
}

/*Media*/

@media(min-width: 768px){
  /*Container*/
  #form-container{
    margin: 50px auto;
    padding: 50px;
  }
  /*Image*/
  .btn.btn-primary{
    width: auto;
    margin-top: 0;
  }
  
  #image{
    padding-top: 0;
  }
}

/*Pagina Cadastro*/
